* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* menu */
#menu ul {
  list-style: none;
  min-width: 400px;
  padding: 0;
  margin: 0;
}

/*menu items*/
#menu ul li {
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  background-color: #2e518b;
  padding: 5px 10px;
  color: #fff;
}

/* hover de menu */
#menu ul li:hover {
  background-color: #5b78a7;
}

/* links */
#menu ul a {
  display: block;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'HelveticaNeue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

/* drop-down menu */
#menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
}

/* drop-down menu items */
#menu ul ul li {
  float: none;
  width: 8em;
}

/* menu items when hover */
#menu ul li:hover > ul {
  display: block;
}

/* back button */
button {
  padding: 10px;
  width: 150px;
}

a {
  text-decoration: none;
  margin: 10px;
  color: #000;
  font-weight: bold;
}
